body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Luckiest Guy';
    height: 100vh;
    margin: 0;
    background-image: url('img/3. Background/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    color: white;
    font-size: 28px;
}

h1 {
    font-size: 72px;
    position: absolute;
    top: -16px;
    color: white;
    filter: drop-shadow(2px 4px 6px black);
}

canvas {
    justify-content: center;
    align-items: center;
    background-color: black;
    display: block;
    box-shadow: #AAE6EF 0px 2px 16px 0px, #AAE6EF 0px 2px 16px 0px, #AAE6EF 0px 2px 16px 0px;
    height: 700px;
    width: 1100px;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: #AAE6EF 0px 2px 16px 0px, #AAE6EF 0px 2px 16px 0px, #AAE6EF 0px 2px 16px 0px;
    height: 700px;
    width: 1100px;
    z-index: 1000;
}

.screen-Img {
    height: 100%;
    width: 100%;
}

.start-Img {
    height: 80px;
    width: 232px;
    position: absolute;
    top: 160px;
    right: 244px;
    filter: drop-shadow(2px 4px 6px black);
}

.start-Img:hover {
    cursor: pointer;
    scale: 1.05;
    filter: drop-shadow(2px 4px 6px #AAE6EF);
}

.keybinds-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 48px;
    bottom: 20px;
}

.keybinds-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.arrow-keybinds {
    height: 80px;
}

.space-keybind {
    height: 48px;
}

.keybinds-letters {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #531A82;
    padding: 16px;
    background-color: #7FFFE0;
    border: 2px solid white;
    border-radius: 12px;
    height: 8px;
    width: 8px;
}

/* landscape-mode for mobile */
#rotationOverlay {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 1);
}

.rotate-device-img {
    height: 280px;
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(119deg) brightness(102%) contrast(103%);
}

/* win */
.try-Again-Img {
    height: 72px;
    width: 280px;
    position: absolute;
    bottom: 120px;
    right: 424px;
    filter: drop-shadow(2px 4px 6px black);
}

.try-Again-Img:hover {
    cursor: pointer;
    scale: 1.05;
    filter: drop-shadow(2px 4px 6px #AAE6EF);
}

/* game over */
/* #gameOverScreen {
    position: absolute;
    z-index: 1000;
} */

.game-Over-Img {
    width: 100vw;
}

/* generic classes */
.d-None {
    display: none;
}

.margin-top-16 {
    margin-top: 16px;
}


/* MEDIA QUERIES */

/* landscape mode for mobile */
@media only screen and (orientation: portrait) {
    #rotationOverlay {
        display: flex;
    }
}

/* Smartphones -------- */

@media only screen and (max-width: 1100px) {
    #startScreen {
        width: 100%;
    }

    canvas {
        width: 100%;
    }
}

/* Smartphones -------- */
@media only screen and (max-height: 700px) {
    #startScreen {
        height: 100vh;
    }

    canvas {
        height: 100vh;
    }
}