body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Luckiest Guy';
    height: 100vh;
    margin: 0;
    background-image: url('img/3. Background/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 56px;
    position: absolute;
    top: 0;
    color: white;
    text-shadow: #035576 0px 8px 24px, #035576 0px 16px 56px, #035576 0px 24px 80px;
}

canvas {
    background-color: black;
    display: block;
    /* box-shadow: #3FBED7 0px 22px 70px 4px; */
    /* box-shadow: #3FBED7 0px 8px 24px, #3FBED7 0px 16px 56px, #3FBED7 0px 24px 80px; */
    /* box-shadow: #AAE6EF 0px 1px 0px, #AAE6EF 0px 8px 24px, #AAE6EF 0px 16px 48px; */
    box-shadow: #AAE6EF 0px 2px 16px 0px, #AAE6EF 0px 2px 16px 0px, #AAE6EF 0px 2px 16px 0px;
    margin-top: 32px;
}


/* Smartphones -------- */
@media only screen and (max-width: 1100px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones -------- */
@media only screen and (max-height: 700px) {
    canvas {
        height: 100vh;
    }
}